<div class="wrapper">
  <div class="cover">
    <img [src]="book.coverUrl ? book.coverUrl : '../../assets/no-image.png'" />
  </div>
  <div class="information">
    <div class="information-row">
      <div class="badges-and-title">
        <i *ngIf="book.recommendation === 'YES'" class="icon-thumbs-up-alt icon-good" ngbTooltip="recommended"></i>
        <i *ngIf="book.recommendation === 'NO'" class="icon-thumbs-down-alt icon-bad" ngbTooltip="not recommended"></i>
        <i *ngIf="book.state === 'current'" class="icon-flash icon-warn" ngbTooltip="current"></i>
        <i *ngIf="book.state === 'paused'" class="icon-pause icon-warn" ngbTooltip="paused"></i>
        <i *ngIf="book.state === 'finished'" class="icon-ok icon-good" ngbTooltip="finished"></i>
        <i *ngIf="book.starred" class="icon-star icon-warn" ngbTooltip="marked"></i>
        <span>{{book.title}}</span>
      </div>
    </div>
    <div class="information-row">
      <span>{{book.publishedYear}},</span>
      <span class="authors">{{book.authors}}</span>
    </div>
    <div class="information-row">
      <div class="tags">
        <span class="category">{{book.category}}</span>
        <span class="tag" *ngFor="let tag of book.tags">{{tag}}</span>
      </div>
    </div>
    <div class="information-row source">
      <span>{{book.type}}:</span>
      <span>"{{book.source}}"</span>
    </div>
    <div class="main-note">
      {{book.mainNote}}
    </div>
  </div>
</div>
