$cover-width: 160px;
$cover-right-margin: 20px;
$options-width: 20px;
.wrapper {
  display: flex;
  background-color: #212529;
  color: white;
  padding: 20px;
  border-radius: 16px;
}
.cover img {
  max-width: $cover-width;
  margin-right: $cover-right-margin;
}
.information {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$cover-width} - #{$cover-right-margin} - #{$options-width});
  max-width: calc(100% - #{$cover-width} - #{$cover-right-margin} - #{$options-width});
}
.information-row {
  display: flex;
  span {
    margin-right: 16px;
  }
}
.badges-and-title {
  font-weight: 600;
  font-size: 24px;
}
.good {
  color: #28a745;
}
.warn {
  color: #ffc107;
}
.bad {
  color: #dc3545;
}
.authors {
  font-style: italic;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  .source-type,
  .category {
    font-weight: 600;
  }
  .source-type,
  .category,
  .tag {
    color: #212529;
    background-color: white;
    border-radius: 12px;
    padding: 0 8px;
    margin-bottom: 4px;
  }
}
.source {
  font-size: 12px;
}
.main-note {
  margin-top: 16px;
  font-size: 12px;
  max-width: 600px;
}
.options,
.additional-options {
  width: $options-width;
  display: flex;
  flex-direction: column;
  .option {
    cursor: pointer;
  }
  overflow: hidden;
}
