<div class="wrapper">
  <div class="main">
    <div class="cover">
      <img [src]="book.coverUrl ? book.coverUrl : '../../assets/images/no-image.png'" onerror="this.onerror=null;this.src='../../assets/images/no-image.png';" />
    </div>
    <div class="information">
      <div class="information-row">
        <div class="badges-and-title">
          <app-attribute-option [type]="AttributeType.starred" [book]="book" [clickable]="false" [defaultHidden]="true"></app-attribute-option>
          <app-attribute-option [type]="AttributeType.recommended" [book]="book" [clickable]="false" [defaultHidden]="true"></app-attribute-option>
          <app-attribute-option [type]="AttributeType.notRecommended" [book]="book" [clickable]="false" [defaultHidden]="true"></app-attribute-option>
          <app-attribute-option [type]="AttributeType.revised" [book]="book" [clickable]="false" [defaultHidden]="true"></app-attribute-option>
          <app-attribute-option [type]="AttributeType.current" [book]="book" [clickable]="false" [defaultHidden]="true"></app-attribute-option>
          <app-attribute-option [type]="AttributeType.paused" [book]="book" [clickable]="false" [defaultHidden]="true"></app-attribute-option>
          <app-attribute-option [type]="AttributeType.finished" [book]="book" [clickable]="false" [defaultHidden]="true"></app-attribute-option>
          <app-attribute-option [type]="AttributeType.archived" [book]="book" [clickable]="false" [defaultHidden]="true"></app-attribute-option>
          <span>{{book.title}}</span>
        </div>
      </div>
      <div class="information-row">
        <span>{{book.publishedYear}},</span>
        <span class="authors">{{book.authors}}</span>
      </div>
      <div class="information-row">
        <div class="tags">
          <span class="category">{{book.category}}</span>
          <span class="category">{{book.subCategory}}</span>
          <ng-container *ngFor="let tag of book.tags">
            <span class="tag" *ngIf="tag !== book.category && tag !== book.subCategory">{{tag}}</span>
          </ng-container>
        </div>
      </div>
      <div class="information-row source">
        <span>{{book.type}}:</span>
        <span>"{{getSourcesText()}}"</span>
      </div>
      <div class="main-note">
        {{book.note}}
      </div>
    </div>
    <div class="options">
      <i class="icon-ellipsis-vert option"  ngbTooltip="toggle options"
         (click)="additionalOptions = !additionalOptions"></i>
      <div class="additional-options" [@fadeInOut]="additionalOptions ? 'open' : 'closed'">
        <i class="icon-pencil option" (click)="editBook()" ngbTooltip="edit"></i>
        <i class="icon-book-open option" (click)="registerReading()" ngbTooltip="register reading"></i>
        <app-attribute-option [type]="AttributeType.starred" [book]="book" (clicked)="attributeChanged()"></app-attribute-option>
        <app-attribute-option [type]="AttributeType.recommended" [book]="book" (clicked)="attributeChanged()"></app-attribute-option>
        <app-attribute-option [type]="AttributeType.notRecommended" [book]="book" (clicked)="attributeChanged()"></app-attribute-option>
        <app-attribute-option [type]="AttributeType.revised" [book]="book" (clicked)="attributeChanged()"></app-attribute-option>
        <app-attribute-option [type]="AttributeType.current" [book]="book" (clicked)="attributeChanged()"></app-attribute-option>
        <app-attribute-option [type]="AttributeType.paused" [book]="book" (clicked)="attributeChanged()"></app-attribute-option>
        <app-attribute-option [type]="AttributeType.finished" [book]="book" (clicked)="attributeChanged()"></app-attribute-option>
        <app-attribute-option [type]="AttributeType.archived" [book]="book" (clicked)="attributeChanged()"></app-attribute-option>
      </div>
    </div>
  </div>
  <div *ngIf="book.description || (book.readings && book.readings.length > 0)" class="description-and-readings">
    <div class="description-and-readings-toggle-wrapper"
         (click)="descriptionAndReadings = !descriptionAndReadings">
      <i class="icon-down-open" ngbTooltip="toggle description and readings history"
         [@rotate]="descriptionAndReadings ? 'open' : 'closed'"></i>
    </div>
    <div [@fadeInOut]="descriptionAndReadings ? 'open' : 'closed'">
      <div *ngIf="book.description" class="description">
        <div class="description-label">description:</div>
        <div class="description-body" [innerHTML]="book.description"></div>
      </div>
      <div *ngIf="book.readings && book.readings.length > 0" class="readings">
        <div class="readings-label">readings:</div>
        <div class="reading" *ngFor="let reading of book.readings.slice().reverse()">
          <div class="reading-date">{{reading.date}}</div>
          <div class="reading-note">{{reading.note}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
