<div class="wrapper">
  <div class="cover">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSfCfov7RJvzMo0Bf00FyCcG0_w5a00-dpZYuaTV3dEWmRueMjY"/>
  </div>
  <div class="information">
    <div class="information-row">
      <div class="badges-and-title">
        <i class="icon-star"></i>
        <i class="icon-thumbs-up-alt"></i>
        <i class="icon-flash"></i>
        <span>Testing Angular Applications</span>
      </div>
    </div>
    <div class="information-row">
      <span>2018,</span>
      <span class="authors">Jesse Palmer, Corinna Cohn, Michael Giambalvo, Craig Nishina</span>
    </div>
    <div class="information-row">
      <div class="tags">
        <span class="source-type">ebook</span>
        <span class="category">FE>Angular</span>
        <span class="tag">Angular</span>
        <span class="tag">Protractor</span>
        <span class="tag">Karma</span>
        <span class="tag">Jasmine</span>
      </div>
    </div>
    <div class="main-note">
      Testing Angular Applications is an example-rich, hands-on guide that gives you the real-world techniques you need to thoroughly test all parts of your Angular applications. By the end of this book, you'll be able to confidently write unit and end-to-end tests for Angular applications in TypeScript.
    </div>
  </div>
</div>
