<div class="wrapper">
  <form>
    <div class="header">
      <div class="header-title-with-back">
        <button type="button" class="add-remove-button back btn btn-outline-light ml-2"
                (click)="navigateToBooks()"><i class="icon-left-open"></i></button>
        <span *ngIf="!editMode" class="h1">Add new book</span>
        <span *ngIf="editMode" class="h1">Edit book <span class="book-id">({{book.id}})</span></span>
      </div>
      <input class="quick-book-input form-control" type="text" placeholder="quick book input"
             (keypress)="$event.preventDefault()"
             (paste)="handlePaste($event)"/>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row" ngbDropdown>
          <label for="type" class="col-lg-4 col-form-label">Type</label>
          <div class="col-lg-8">
            <select name="type" id="type" class="form-control select-input" [(ngModel)]="book.type">
              <option disabled selected [value]="null"> -- select a type -- </option>
              <option *ngFor="let type of available.types" [value]="type">{{type}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group row">
          <label for="attributes" class="col-lg-4 col-form-label">Attributes</label>
          <div id="attributes" class="col-lg-8 attributes">
            <div class="book-attribute-group">
              <app-attribute-option [type]="AttributeType.starred" [book]="book"></app-attribute-option>
            </div>
            <div class="book-attribute-group">
              <app-attribute-option [type]="AttributeType.recommended" [book]="book"></app-attribute-option>
              <app-attribute-option [type]="AttributeType.notRecommended" [book]="book"></app-attribute-option>
            </div>
            <div class="book-attribute-group">
              <app-attribute-option [type]="AttributeType.revised" [book]="book"></app-attribute-option>
              <app-attribute-option [type]="AttributeType.current" [book]="book"></app-attribute-option>
              <app-attribute-option [type]="AttributeType.paused" [book]="book"></app-attribute-option>
              <app-attribute-option [type]="AttributeType.finished" [book]="book"></app-attribute-option>
            </div>
            <div class="book-attribute-group">
              <app-attribute-option [type]="AttributeType.archived" [book]="book"></app-attribute-option>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="title" class="col-lg-2 col-form-label">Title</label>
      <div class="col-lg-10">
        <input name="title" type="text" class="form-control" id="title" placeholder="title" [(ngModel)]="book.title">
      </div>
    </div>
    <div class="form-group row">
      <label for="rootTitle" class="col-lg-2 col-form-label">Root Title</label>
      <div class="col-lg-10">
        <input name="rootTitle" type="text" class="form-control" id="rootTitle" placeholder="title without edition" [(ngModel)]="book.rootTitle">
      </div>
    </div>
    <div class="form-group row">
      <label for="authors" class="col-lg-2 col-form-label">Authors</label>
      <div class="col-lg-10">
        <input name="authors" type="text" class="form-control" id="authors" placeholder="authors" [(ngModel)]="book.authors">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row">
          <label for="cover" class="col-lg-4 col-form-label">Cover</label>
          <div class="col-lg-8 cover-image-container">
            <div class="cover-image">
              <img id="cover"[src]="book.coverUrl ? book.coverUrl : '../../assets/images/no-image.png'" onerror="this.onerror=null;this.src='../../assets/images/no-image.png';"/>
            </div>
            <div>
              <input type="button" class="btn btn-outline-light attach-cover-image-button" value="Choose cover image"  onclick="document.getElementById('coverFileInput').click();" />
              <input type="file" style="display:none" id="coverFileInput" name="coverFileInput" (change)="handleCoverImageFileInputChange($event)"/>
              <button type="button" class="add-remove-button btn btn-outline-light ml-2"
                      (click)="removeCover()"><i class="icon-trash-empty"></i></button> <!--TODO change to trash bin from fontello-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group row">
          <label for="edition" class="col-lg-4 col-form-label">Edition</label>
          <div class="col-lg-8">
            <input name="edition" type="text" class="form-control" id="edition" placeholder="edition" [(ngModel)]="book.edition">
          </div>
        </div>
          <div class="form-group row" ngbDropdown>
            <label for="publisher" class="col-lg-4 col-form-label">Publisher</label>
            <div class="col-lg-6">
              <select name="publisher" id="publisher" class="form-control select-input" [(ngModel)]="book.publisher">
                <option disabled selected [value]="null"> -- select a publisher -- </option>
                <option *ngFor="let publisher of available.publishers" [value]="publisher">{{publisher}}</option>
              </select>
            </div>
            <div class="col-lg-2">
              <button type="button" class="add-remove-button btn btn-outline-light"
                      (click)="startCreatingNewPublisher()"><i class="icon-plus"></i></button>
            </div>
          </div>
        <div class="form-group row">
          <label for="publishedYear" class="col-lg-4 col-form-label">Published year</label>
          <div class="col-lg-8">
            <input name="publishedYear" type="text" class="form-control" id="publishedYear" placeholder="published year" [(ngModel)]="book.publishedYear">
          </div>
        </div>
        <div class="form-group row">
          <label for="pagesNumber" class="col-lg-4 col-form-label">Pages number</label>
          <div class="col-lg-8">
            <input name="pagesNumber" type="text" class="form-control" id="pagesNumber" placeholder="number of pages" [(ngModel)]="book.pagesNumber">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row" ngbDropdown>
          <label for="category" class="col-lg-4 col-form-label">Category</label>
          <div class="col-lg-6">
            <select name="category" id="category" class="form-control select-input" [(ngModel)]="book.category" (change)="book.subCategory=null">
              <option disabled selected [value]="null"> -- select a category -- </option>
              <option *ngFor="let category of available.categories" [value]="category">{{category}}</option>
            </select>
          </div>
          <div class="col-lg-2">
            <button type="button" class="add-remove-button btn btn-outline-light"
                    (click)="startCreatingNewCategory()"><i class="icon-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group row" ngbDropdown>
          <label for="subcategory" class="col-lg-4 col-form-label">Subcategory</label>
          <div class="col-lg-6">
            <select name="subcategory" id="subcategory" class="form-control select-input" [(ngModel)]="book.subCategory">
              <option disabled selected [value]="null"> -- select a subcategory -- </option>
              <option *ngFor="let subcategory of available.subCategories[book.category]" [value]="subcategory">{{subcategory}}</option>
            </select>
          </div>
          <div class="col-lg-2">
            <button type="button" class="add-remove-button btn btn-outline-light"
                    (click)="startCreatingNewSubcategory()"><i class="icon-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row" ngbDropdown>
          <label for="tags" class="col-lg-4 col-form-label">Tags</label>
          <div class="col-lg-6">
            <select #tag name="tags" id="tags" class="form-control select-input" (change)="selectTag(tag.value);tag.selectedIndex=0">
              <option disabled selected [value]="null"> -- select a tag -- </option>
              <option *ngFor="let tag of available.tags" [value]="tag">{{tag}}</option>
            </select>
          </div>
          <div class="col-lg-2">
            <button type="button" class="add-remove-button btn btn-outline-light"
                    (click)="startCreatingNewTag()"><i class="icon-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-10 offset-lg-2 selected-tags">
        <ng-container *ngIf="book.tags && book.tags.length > 0">
          <ng-container *ngFor="let tag of book.tags">
            <div class="tag-pill" *ngIf="tag !== book.category && tag !== book.subCategory">
              <span>{{tag}}</span>
              <button class="unselect-tag-button" type="button" (click)="unselectTag(tag)"><i class="icon-cancel"></i></button>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!book.tags || book.tags.length === 0">
          <span>no tags selected</span>
        </ng-container>
      </div>
    </div>
    <ng-container>
      <div class="row" *ngFor="let source of book.sources; let index=index">
        <div class="col-lg-6">
          <div class="form-group row" ngbDropdown>
            <label for="sources-{{index}}" class="col-lg-4 col-form-label">{{index === 0 ? 'Sources' : ''}}</label>
            <div class="col-lg-6">
              <select name="source-name-{{index}}" id="sources-{{index}}" class="form-control select-input" [(ngModel)]="source.name">
                <option disabled selected [value]="null"> -- select a source -- </option>
                <option *ngFor="let availableSource of available.sourceNames" [value]="availableSource">{{availableSource}}</option>
              </select>
            </div>
            <div class="col-lg-2">
              <button type="button" class="add-remove-button btn btn-outline-light"
                      (click)="startCreatingNewSource(index)"><i class="icon-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group row">
            <label for="source-location-{{index}}" class="col-lg-4 col-form-label">Location</label>
            <div class="col-lg-6">
              <input name="source-location-{{index}}" type="text" class="form-control" id="source-location-{{index}}"
                     placeholder="location" [ngbTooltip]="source.location" [(ngModel)]="source.location">
            </div>
            <div class="col-lg-2">
              <button type="button" class="add-remove-button btn btn-outline-light"
                      (click)="unselectSource(index)"><i class="icon-trash-empty"></i></button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="form-group row">
      <label class="col-lg-2 col-form-label"></label>
      <div class="col-lg-10">
        <button type="button" class="add-remove-button btn btn-outline-light"
                (click)="addNewSource()"><i class="icon-plus"></i></button>
      </div>
    </div>

    <div class="form-group row">
      <label for="note" class="col-lg-2 col-form-label">Note</label>
      <div class="col-lg-10">
        <textarea name="note" class="form-control" id="note"
                  placeholder="note" maxlength="10000" rows="4"
                  [(ngModel)]="book.note"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-lg-2 col-form-label">Description</label>
      <div class="col-lg-10">
        <ckeditor name="description" id="description"
                  data="{{book.description}}" [(ngModel)]="book.description"></ckeditor>
      </div>
    </div>
    <div class="form-group row">
      <label for="note" class="col-lg-2 col-form-label">Readings</label>
      <div class="col-lg-10">
        <div class="reading" *ngFor="let reading of book.readings; let index = index">
          <app-datepicker class="reading-date" [(date)]="reading.date"></app-datepicker>
          <textarea class="reading-note" name="reading-{{index}}" placeholder="" maxlength="10000" rows="2" [(ngModel)]="reading.note"></textarea>
          <button type="button" class="add-remove-button btn btn-outline-light"
                  (click)="removeReading(index)"><i class="icon-trash-empty"></i></button>
        </div>
        <button type="button" class="add-remove-button btn btn-outline-light"
                (click)="createReading()"><i class="icon-plus"></i></button>
      </div>
    </div>

    <div class="row submit-button-container">
      <button *ngIf="!editMode" type="button" class="btn btn-success submit-button" (click)="addNewBook()">ADD</button>
      <button *ngIf="editMode" type="button" class="btn btn-success submit-button" (click)="updateBook()">UPDATE</button>
    </div>
  </form>
</div>
