.wrapper {
  border-radius: 5px;
  display: flex;
  padding: 16px 16px 16px 20px;
  align-items: center;
  pointer-events: all;
  background-color: #2eafff;
  &.good {
    background-color: #45cc6c;
  }
  &.bad {
    background-color: #c92614;
  }
}

.message {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.close-button-wrapper {
  margin: 0 0 0 22px;
}
