$gutter: 16px;
$restartFiltersWidth: 20px;

.wrapper {
  width: 100%;
}

.add-book-button {
  width: 100%;
  background-color: #212529;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 4px 0;
  margin-bottom: 24px;
  border-radius: 8px;
}

form {
  width: 100%;
  border-radius: 12px;
  border: 4px #212529 groove;
  padding: $gutter;
}

.header {
  width: calc(100% + 2 * #{$gutter});
  background-color:#212529;
  margin: -#{$gutter} -#{$gutter} #{$gutter};
  padding-bottom: 8px;
  display: flex;
  color: white;
  font-size: 20px;
  .title {
    font-weight: 600;
    text-align: center;
    width: calc(100% - #{$restartFiltersWidth} - 12px)
  }
  .restart-filters-container {
    width: $restartFiltersWidth;
    cursor: pointer;
  }
}

.paginator {
  display: flex;
  width: calc(100% + 2 * #{$gutter});
  margin: -#{$gutter} -#{$gutter} #{$gutter};
  justify-content: center;
  background-color:#212529;
  user-select: none;
}
.paginator-control {
  background-color: #212529;
  text-align: center;
  color: white;
  font-weight: bold;
  flex-grow: 1;
  cursor: pointer;
}
.current-page-control {
  flex-grow: 1;
  border: 2px solid #212529;
  color: #212529;
  background-color: white;
  cursor: default;
}
.ellipses-paginator-control {
  cursor: default;
}

.tag-controls{
  display:flex;
  button {
    background-color: #212529;
    color: white;
  }
}
.searched-pills {
  display: flex;
  flex-wrap: wrap;
  .searched-pill {
    display: flex;
    flex-wrap: nowrap;
    color: white;
    background-color: #212529;
    border-radius: 12px;
    padding: 0 2px 0 8px;
    margin: 0 4px 4px 0;
    .close-pill {
      background-color: rgba(0,0,0,0);
      color: white;
      border: none;
      padding: 0;
      border-radius: 16px;
      margin-left: 4px;
    }
  }
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #212529;
}

.custom-sort-wrapper {
  position: relative;
  left: -8px;
}
.custom-sort {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  .custom-sort-arrow {
    display: flex;
    align-items: center;
    margin: 0 4px;
    width: 20px;
    mat-icon{
      color: #212529;
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
}
