$gutter: 16px;
.wrapper {
  width: 100%;
}
form {
  width: 100%;
  border-radius: 12px;
  border: 4px #212529 groove;
  padding: $gutter;
}

.header {
  width: calc(100% + 2 * #{$gutter});
  background-color:#212529;
  margin: -#{$gutter} -#{$gutter} #{$gutter};
  padding-bottom: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.searched-pills {
  display: flex;
  flex-wrap: wrap;
  .searched-pill {
    display: flex;
    flex-wrap: nowrap;
    color: white;
    background-color: #212529;
    border-radius: 12px;
    padding: 0 2px 0 8px;
    margin: 0 4px 4px 0;
    .close-pill {
      background-color: rgba(0,0,0,0);
      color: white;
      border: none;
      padding: 0;
      border-radius: 16px;
      margin-left: 4px;
    }
  }
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#212529;
}

.add-book-button {
  width: 100%;
  background-color: #212529;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 4px 0;
  margin: 24px 0;
  border-radius: 8px;
}
