<div class="wrapper">
  <button type="button" class="add-book-button" (click)="onAddBook()">Add new book</button>
  <form [formGroup]="filterForm">
    <div class="header">
      <div class="title">Search & Filter</div>
      <div class="restart-filters-container">
        <i class="icon-arrows-cw" (click)="restartFilters()"></i>
      </div>
    </div>
    <div class="paginator">
      <div class="paginator-control">Page:</div>
      <div *ngIf="currentPage > 1" class="paginator-control" (click)="changeToPage(1)">1</div>
      <div *ngIf="currentPage > 3" class="paginator-control ellipses-paginator-control">...</div>
      <div *ngIf="currentPage > 2" class="paginator-control" (click)="changeToPage(currentPage - 1)">{{currentPage - 1}}</div>
      <div class="paginator-control current-page-control">{{currentPage}}</div>
      <div *ngIf="currentPage < maxPage - 1" class="paginator-control" (click)="changeToPage(currentPage + 1)">{{currentPage + 1}}</div>
      <div *ngIf="currentPage < maxPage - 2" class="paginator-control ellipses-paginator-control">...</div>
      <div *ngIf="currentPage < maxPage" class="paginator-control" (click)="changeToPage(maxPage)">{{maxPage}}</div>
    </div>
    <div>
      <label for="title">title</label>
      <input #title id="title" type="text"
             class="form-control" placeholder="" formControlName="title"
             (keyup)="$event.key === 'Enter' ? addTitle(title.value) : null">
      <label for="tag">tags</label>
      <input #tag id="tag" type="text"
             class="form-control" placeholder="" list="available-tags"
             (keyup)="$event.key === 'Enter' ? addTag(tag) : null">
      <datalist id="available-tags">
        <option *ngFor="let availableTag of availableTags" [value]="availableTag"></option>
      </datalist>
      <small class="form-text text-muted">Search tags, press enter for multiple.</small>
    </div>
    <div class="searched-pills">
      <div class="searched-pill" *ngFor="let phrase of searchTags; let index = index">
        <span>{{phrase}}</span>
        <button class="close-pill" type="button" (click)="untag(index)"><i class="icon-cancel"></i></button>
      </div>
    </div>

    <hr>
    <div formGroupName="recommendation">
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="recommended"
               class="custom-control-input" formControlName="recommended">
        <label class="custom-control-label" for="recommended">recommended</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="neutral"
               class="custom-control-input" formControlName="neutral">
        <label class="custom-control-label" for="neutral">neutral</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="notRecommended"
               class="custom-control-input" formControlName="notRecommended">
        <label class="custom-control-label" for="notRecommended">not recommended</label>
      </div>
    </div>

    <hr>
    <div formGroupName="state">
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="fresh"
               class="custom-control-input" formControlName="fresh">
        <label class="custom-control-label" for="fresh">fresh</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="revised"
               class="custom-control-input" formControlName="revised">
        <label class="custom-control-label" for="revised">revised</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="current"
               class="custom-control-input" formControlName="current">
        <label class="custom-control-label" for="current">current</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="paused"
               class="custom-control-input" formControlName="paused">
        <label class="custom-control-label" for="paused">paused</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="finished"
               class="custom-control-input" formControlName="finished">
        <label class="custom-control-label" for="finished">finished</label>
      </div>
    </div>

    <hr>
    <div formGroupName="marked">
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="marked"
               class="custom-control-input" formControlName="marked">
        <label class="custom-control-label" for="marked">marked</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="notMarked"
               class="custom-control-input" formControlName="notMarked">
        <label class="custom-control-label" for="notMarked">not marked</label>
      </div>
    </div>

    <hr>
    <div formGroupName="archived">
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="archived"
               class="custom-control-input" formControlName="archived">
        <label class="custom-control-label" for="archived">archived</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="notArchived"
               class="custom-control-input" formControlName="notArchived">
        <label class="custom-control-label" for="notArchived">not archived</label>
      </div>
    </div>

    <hr>
    <div formGroupName="type">
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="ebook"
               class="custom-control-input" formControlName="ebook">
        <label class="custom-control-label" for="ebook">ebook</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="paperback"
               class="custom-control-input" formControlName="paperback">
        <label class="custom-control-label" for="paperback">paperback</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="video"
               class="custom-control-input" formControlName="video">
        <label class="custom-control-label" for="video">video</label>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" checked id="webpage"
               class="custom-control-input" formControlName="webpage">
        <label class="custom-control-label" for="webpage">webpage</label>
      </div>
    </div>
  </form>
</div>


